.studio {
    width: 40px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
     color: #2E2F42;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.portfolio {
    width: 48px;
    height: 24px;
    
    /* Body Medium */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: #2E2F42;
    
    
}
    
 